{% extends 'base.html' %}
{% block title %}Courses{% endblock %}
{% block content %}

    <div class="section">
    <h1 class="title">Courses</h1>
    {% if current_user.role.value == 'tutor' %}
        <a class="form-button" href="/courses/new">Create New Course</a>
    {% endif %}
    <div class="course-list">
        {% for course in courses %}
            <div class="course-card">
                <h2>{{ course.title }}</h2>
                <p>{{ course.category }}</p>
                <a class="form-button" href="/courses/{{ course.id }}">View Course</a>
            </div>
        {% else %}
            <p>No courses available at the moment.</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}