{% extends 'base.html' %}
{% block title %}Feedback{% endblock %}
{% block content %}
    <div class="section">
    <iframe width="640px" height="480px" src="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=_j_KcdCNmEqH7icfHn5_ZSfYGksiAmFFuz1kwln1YgBURFBEVlVYSThTWDhWVk1LOVZLN081RkhXRC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

    </div>
{% endblock %}