{% extends "base.html" %}

{% block content %}
<div class="section">
    <h2 class="title">Login</h2>
    <div class="form">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="form-button">Login</button>
            <p>
            Don't have an account? <a href="/register">Register here</a>.
        </p>
        </form>
    </div>
</div>
{% endblock %}