{% extends "base.html" %}

{% block content %}
<div class="section">
    <h2 class="title">Sign Up</h2>
    <div class="form">
        <form method="POST" action="/register">
            <div>
                <label>Email</label>
                <div>
                    <label>
                        <input type="email" name="email" placeholder="Email" autofocus required>
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" required>
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" type="password" name="password" placeholder="Password" required>
                    </label>
                </div>
            </div>
            <button class="form-button">Sign Up</button>
            <p>
            Already have an account? <a href="/login">Login here</a>.
        </p>
        </form>
    </div>
</div>
{% endblock %}